.footer {
    width: 100%;
    height: 14vh;
    background-color: #ffa000;
    color: #234465;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
    margin-bottom: 1%;
    text-align: center;
}
/* .container{
    width: 100%;
    height: 14vh;
    text-align: center;
} */

.footer p {
    text-align: center;
    font-weight: bold;
}
.logo{
    width: 40px;
    padding: 10px;
    margin-left: 30px;
}