.container {
    width: 100%;
    /* border:1px solid red; */
    min-height: 45vh;
    margin-top: 15vh;
}
.logo{
    width: 32px;
    height: 32px;
}

.container div {
    /* border:1px solid red; */
    height: auto;
    text-align: right;
    margin-bottom: 0.5%;
}

.container div span {
    text-decoration: underline;
    text-align: right;
    /* border:1px solid green; */
    padding-right: 1%;
}