.main {
    display: inline-block;
    width: 83%;
    height: auto;
    min-height: 200px;
    margin-top: 15vh;
    /* border:1px solid blue; */
 }

.header {
    text-align: center;
    color: #234465;
    text-decoration: underline;
    margin-bottom: 2%;
    margin-top: 5%;
}
