.navigation {
    width: 100%;
    height: 14vh;
    /* height: 60px; */
    background-color: #234465;
    color: white;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #ffa000;
    border-top: 2px solid #ffa000;
}
.logo{
    width: 50px;
    padding: 15px;
}
.container{
    width: 94%;
    /* text-align: center; */
    padding-left: 2px;
    margin-left: 8%;
    position: fixed;
    top: 0;
    margin-top: 10px;
}
