.button{
    display: block;
    width: 7%;
    padding: 1%;
    background:#234465;
    color: white;
    margin: 2% auto;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}
.button:hover{
    background-color: white;
    border: 2px solid #234465;
    color: #234465;
    font-style: italic;
}
